* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c3e35;
  color: #ecfdf5;
  font-family: 'Dosis', sans-serif;
  padding: 48px 64px;
}

/* Main Layout */

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe-form {
  background-color: #467a69;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

/* Elements */

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 64px;
  height: 64px;
}

h1 {
  font-size: 42px;
  text-align: center;
  color: #99f2d1;
}

.recipe {
  font-size: 20px;
  line-height: 1.4;
  background-color: #467a69;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.description {
  color: #1c3e35;
}

/* Links  */

a:link {
  color: #d8f3dc;
}

a:visited {
  color: #84d4b7;
}

a:hover {
  color: #d8f3dc;
}

a:active {
  color: #99f2d1;
}

.tag {
  font-size: 14;
  color: #99f2d1;
  background-color: #1c3e35;
  padding: 5px;
}

.vote-buttons {
  margin-left: auto;
}

ul {
  list-style-type: none;
}

/* Phosphor Icons */

.ph-xxs {
  font-size: 0.5em;
}
.ph-xs {
  font-size: 0.75em;
}
.ph-sm {
  font-size: 0.875em;
}
.ph-lg {
  font-size: 1.3333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}
.ph-xl {
  font-size: 1.5em;
  line-height: 0.6666em;
  vertical-align: -0.075em;
}
.ph-1x {
  font-size: 1em;
}
.ph-2x {
  font-size: 2em;
}
.ph-3x {
  font-size: 3em;
}
.ph-4x {
  font-size: 4em;
  color: #99f2d1;
}
.ph-5x {
  font-size: 5em;
}
.ph-6x {
  font-size: 6em;
}
.ph-7x {
  font-size: 7em;
}
.ph-8x {
  font-size: 8em;
}
.ph-9x {
  font-size: 9em;
}
.ph-10x {
  font-size: 10em;
}
.ph-fw {
  text-align: center;
  width: 1.25em;
}

/* Footer */

.footer {
  display: flex;
  font-size: 14px;
  flex-shrink: 0;
  gap: 4px;
  justify-content: center;
}
